{% extends 'base.html' %}
{% block head %}
    <title>New Product</title>
{% end %}
{% block body %}
    <h3>New Product</h3>
    <form action="/product/new" method="POST" autocomplete="off">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input  class="form-control" type="text" name="name" id="name" placeholder="Type your fullname" required autofocus />
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input  class="form-control" type="text" name="price" id="price" placeholder="Type the price of the product" required />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-3">Register</button>
        </div>
    </form>
{% end %}
